<streaming-chat
  class="fixed z-999"
  [ishiddenbutton]="false"
  [showchatfirst]="true"
  [isstream]="false"
  chattitle="Animal AI"
  texttitlecolor="white"
  userchattextcolor="white"
  botgreeting="**Wellcome AraChatBot**"
  questionsuggests="xin chào | bạn có thể giúp gì cho tôi | xét nghiệm máu như thế nào, cần trải qua những gì"
  placeholderinput="your question"
  firstquestion=""
  borderradius="6px"
  speed="1"
  flowid="blood_bank"
  [isenablehistory]="true"
  chatpowerby="MinhChien"
></streaming-chat>
