<button
  class="fixed shadow-md rounded-full hover:scale-110 active:scale-95 transition-transform duration-200 flex justify-center items-center animate-fade-in btn-chat"
  [ngStyle]="buttonStyles"
  *ngIf="!ishiddenbutton"
  (click)="handleShowChat()"
>
  <mat-icon
    class="text-white transition-opacity duration-200"
    [class.opacity-0]="!showChatFrame"
    [class.opacity-100]="showChatFrame"
    *ngIf="showChatFrame"
    >expand_more</mat-icon
  >
  <img
    class="text-white transition-opacity duration-200 rounded-full object-cover w-full h-full"
    [class.opacity-0]="showChatFrame"
    [class.opacity-100]="!showChatFrame"
    *ngIf="!showChatFrame"
    [src]="buttonimageurl"
    alt="Bot avatar"
  />
  <!-- <mat-icon
    class="text-white transition-opacity duration-200"
    [class.opacity-0]="showChatFrame"
    [class.opacity-100]="!showChatFrame"
    *ngIf="!showChatFrame"
    >chat</mat-icon
  > -->
</button>
<div
  class="fixed sm:right-5 opacity-1 bottom-[78px] chat-frame"
  [ngStyle]="frameStyles"
  [@chatAnimation]="showChatFrame ? 'visible' : 'hidden'"
>
  <div
    class="relative flex w-full h-full text-base overflow-hidden bg-cover bg-center flex-col items-center chatbot-container"
  >
    <div
      class="flex flex-row items-center w-full h-[50px] absolute top-0 left-0 z-10 title-chat"
      [ngStyle]="{
        background: chatcolor,
        color: texttitlecolor,
        borderTopLeftRadius: borderradius,
        borderTopRightRadius: borderradius
      }"
    >
      <div class="w-[15px]"></div>
      <figure
        class="flex justify-center items-center rounded-full text-white relative flex-shrink-0 w-10 h-10 text-xl"
      >
        <img
          [src]="chatimageurl"
          alt="Bot avatar"
          class="rounded-full object-cover w-full h-full"
        />
      </figure>
      <span class="px-3 whitespace-pre-wrap font-semibold max-w-full">{{
        chattitle
      }}</span>
      <div style="flex: 1 1 0%"></div>
      <div class="flex">
        <button
          class="py-2 px-2 justify-center font-semibold text-white flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 chatbot-button my-2 ml-2"
          title="Reset Chat"
          (click)="handleResetChat()"
          [ngClass]="{ 'opacity-50': chats.length === 0 }"
          style="background: transparent; border: none"
        >
          <mat-icon class="text-white">cached</mat-icon>
        </button>
        <button
          class="py-2 px-2 justify-center font-semibold text-white flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 chatbot-button my-2"
          title="Close Chat"
          *ngIf="showChatFrame"
          (click)="handleShowChat()"
        >
          <mat-icon class="text-white">close</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex flex-col w-full h-full justify-start z-0">
      <!-- <div
        class="flex flex-col flex-grow min-w-full w-full px-3 pt-[70px] relative scrollable-container chatbot-chat-view scroll-smooth"
        [ngClass]="{ 'overflow-y-scroll': !isShowSuggest }"
        (scroll)="handleScroll($event)"
        #chatMessages
      > -->
      <div
        class="overflow-y-auto flex flex-col flex-grow min-w-full w-full px-3 pt-[70px] relative scrollable-container chatbot-chat-view scroll-smooth"
        (scroll)="handleScroll($event)"
        #chatMessages
      >
        <div>
          <div
            class="flex flex-row justify-start mb-2 items-start host-container"
            style="margin-right: 50px"
          >
            <figure
              class="flex justify-center items-center rounded-full text-white relative flex-shrink-0 w-10 h-10 text-xl"
            >
              <img
                [src]="botimageurl"
                alt=""
                class="rounded-full object-cover w-full h-full"
              />
            </figure>
            <div class="flex flex-col justify-start">
              <span
                class="px-4 py-2 ml-2 max-w-full chatbot-host-bubble"
                [ngStyle]="{
                  background: botchatbackgroundcolor,
                  color: botchattextcolor
                }"
                style="border-radius: 6px; font-size: 16px"
              >
                <markdown [data]="botgreeting"> </markdown>
              </span>
            </div>
          </div>
        </div>

        <div *ngFor="let chat of chats">
          <div
            class="flex justify-end mb-2 items-end guest-container"
            style="margin-left: 50px"
          >
            <div
              class="max-w-full flex flex-col justify-center items-start chatbot-guest-bubble px-4 py-2 gap-2 mr-2"
              [ngStyle]="{
                background: userchatbackgroundcolor,
                color: userchattextcolor
              }"
              style="border-radius: 6px"
            >
              <span class="mr-2 whitespace-pre-wrap" style="font-size: 16px">{{
                chat.question
              }}</span>
            </div>
            <figure
              class="flex justify-center items-center rounded-full text-white relative flex-shrink-0 w-10 h-10 text-xl"
            >
              <img
                class="rounded-full object-cover w-full h-full"
                [src]="userimageurl"
                alt=""
              />
            </figure>
          </div>
          <div>
            <div
              class="flex flex-row justify-start mb-2 items-start host-container"
              style="margin-right: 50px"
            >
              <figure
                class="flex justify-center items-center rounded-full text-white relative flex-shrink-0 w-10 h-10 text-xl"
              >
                <img
                  [src]="botimageurl"
                  alt=""
                  class="rounded-full object-cover w-full h-full"
                />
              </figure>
              <div
                class="flex flex-col justify-start"
                *ngIf="!chat.responseLoading"
              >
                <span
                  class="px-4 py-2 ml-2 max-w-full chatbot-host-bubble prose"
                  [ngStyle]="{
                    background: botchatbackgroundcolor,
                    color: botchattextcolor
                  }"
                  style="border-radius: 6px; font-size: 16px"
                >
                  <markdown [data]="chat.text"> </markdown
                ></span>
              </div>
              <div
                class="flex flex-col justify-start"
                *ngIf="chat.responseLoading && !isRenderResponse"
              >
                <span
                  id="current-bot-chat"
                  class="px-4 py-2 ml-2 max-w-full chatbot-host-bubble prose"
                  [ngStyle]="{
                    background: botchatbackgroundcolor,
                    color: botchattextcolor
                  }"
                  style="border-radius: 6px; font-size: 16px"
                  ><markdown [data]="currentResponseChat"> </markdown
                ></span>
              </div>
              <div
                class="px-4 py-2 ml-2 h-[40px] typing-indicator"
                [ngStyle]="{
                  background: botchatbackgroundcolor
                }"
                *ngIf="chat.responseLoading && isRenderResponse"
              >
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div
        class="w-full flex flex-col justify-end px-5 pt-1"
        style="border-width: thin;"
        *ngIf="isShowSuggest"
      >
        <span
          *ngFor="let suggest of suggests"
          class="flex items-center px-4 py-2 ml-auto mb-2 break-words chatbot-host-bubble prose"
          [ngStyle]="{
            background: userchatbackgroundcolor,
            color: userchattextcolor
          }"
          style="border-radius: 20px; font-size: 16px; width: fit-content; display: flex; flex-wrap: wrap; align-items: center; cursor: pointer;"
          (click)="handleClickSuggest(suggest)"
        >
          <span style="white-space: normal; word-wrap: break-word; flex: 1">
            {{ suggest }}
          </span>
          <mat-icon
            class="ml-2"
            [ngStyle]="{
              color: 'white'
            }"
          >
            send
          </mat-icon>
        </span>
      </div>
      <div class="w-full px-5 pt-2 pb-1">
        <div
          class="w-full h-auto max-h-48 min-h-[56px] flex flex-col items-end justify-between border border-[#eeeeee] input-chat"
        >
          <div class="w-full flex items-end justify-between">
            <textarea
              id="chat-input"
              class="focus:outline-none bg-transparent px-4 py-4 flex-1 w-full h-full min-h-[56px] max-h-32 text-input disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100"
              style="font-size: 16px; resize: none; height: 56px !important"
              [placeholder]="placeholderinput"
              [(ngModel)]="requestString"
              (keydown)="handleKeydDownChat($event)"
            ></textarea>
            <button
              class="py-2 px-4 justify-center font-semibold text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 chatbot-button m-0 h-14 flex items-center justify-center"
              style="background: transparent; border: none"
              (click)="hanldeSend()"
            >
              <mat-icon
                [ngStyle]="{
                  color: chatcolor
                }"
                *ngIf="!isDisableSend"
                >send</mat-icon
              >
              <mat-icon
                [ngStyle]="{
                  color: chatcolor
                }"
                *ngIf="isDisableSend"
                >album</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
      <span
        class="w-full text-center px-[10px] pt-[6px] pb-[10px] m-auto text-[13px]"
        [ngStyle]="{
          bordeRadius: borderradius
        }"
        style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255)"
        >Power by
        <a
          href="https://aratech.vn/"
          target="_blank"
          style="font-weight: bold; color: rgb(0, 0, 0)"
          class="lite-badge"
          ><span>{{ chatpowerby }}</span></a
        ></span
      >
    </div>
  </div>
</div>
